<% include ./partials/header %>
<h1>sign up</h1>

<form class="" action="/register" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" placeholder="username" value="">
  <br>
  <label for="">Password:</label>
  <input type="text" name="password" placeholder="password" value="">
  <br>
  <label for="">USDaccount:</label>
  <input type="text" name="USDaccount" placeholder="USDaccount" value="">
  <br>
  <label for="">CNYaccount:</label>
  <input type="text" name="CNYaccount" placeholder="CNYaccount" value="">
  <br>
  <button type="submit" name="button">submit</button>
</form>
<% include ./partials/footer %>
